<ng-container *ngIf="data$ | async as data">
  <div class="article-page">
    <div class="banner">
      <div class="container" *ngIf="data.article">
        <h1>{{data.article.title}}</h1>
        <div class="article-meta">
          <a [routerLink]="['/profiles', data.article.author.username]">
            <img [src]="data.article.author.image" alt="">
          </a>
          <div class="info">
            <a [routerLink]="['/profiles', data.article.author.username]">
              {{data.article.author.username}}
            </a>
            <span class="data">{{data.article.createdAt}}</span>
          </div>
          <span *ngIf="data.isAuthor">
            <a [routerLink]="['/articles', data.article.slug, 'edit']"
            class="btn btn-outline-secondary btn.sm"
            >
              <i class="ion-edit"></i>
              Edit Article
            </a>
            <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle()">
              Delete Article
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="container page">
      <app-loading *ngIf="data.isLoading"></app-loading>
      <app-error-message *ngIf="data.error"></app-error-message>

      <div class="row article-content" *ngIf="data.article"></div>
      <div class="col-xs-12">
        <div>
          <p>{{data.article!.body}}</p>
        </div>
        <app-tag-list [tags]="data.article!.tagList"></app-tag-list>
      </div>
    </div>
  </div>
</ng-container>
